{% block navigation %}
<div style="display: flex; align-items: stretch;">
  <div style="flex-grow: 1;">
    {% if request.path == '/' %}
      Home
    {% else %}
      <a href="/">Home</a>
    {% endif %}
    {% if session['username'] %}
      <span style="margin: 0 2px 0 2px; opacity: 25%;">|</span>
      {% if request.path == '/profile' %}
        Profile
      {% else %}
        <a href="/profile">Profile</a>
      {% endif %}

      <span style="margin: 0 2px 0 2px; opacity: 25%;">|</span>
      {% if request.path == '/dash' %}
        Usage Plot
      {% else %}
        <a href="/dash">Usage Plot</a>
      {% endif %}
    {% endif %}
  </div>
  <div>
    {% if session['username'] %}
      Logged in as {{ session['username'] }} <span style="margin: 0 2px 0 2px; opacity: 25%;">|</span>
      <a href="/logout">Log Out</a>
    {% else %}
      <a href="/login">Login</a>
    {% endif %}
  </div>
</div>

{% endblock %}
